/* Settings on React Root Element */

#root {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Default font settings and sizing catch-all */
body {
  width: 100%;
  margin: 0;
  font-family: var(--font), sans-serif, arial;
}

img,
embed,
object,
video {
  max-width: 100%;
}

/* Global variables */
:root {
  --color-main: #DC0000;
  --color-light: #FF3333;
  --color-second: #1ECA1E;
  --font: 'Titillium Web', sans-serif;
}

/* Grid setup on App Container */
#app-container {
  display: grid;
  grid-template-columns: [c1] 100% [c2];
  grid-template-rows: [r1] 60px [r2] 1fr [r3] 50px [r4];
  width: 100%;
  padding: 0;
  margin: 0;
}
